body {
    /* overflow: hidden; */
}

.note-editor {
  background-color: white;
  position: relative;
  top: 100vh;
  height: 80vh;

  transition: 0.5s ease-in-out 0s;
}

.badge-radio {
    margin: 10px;
}

#emptySpace {
    height: 5vh;
}