body {
    overflow: hidden;
}

.header-delimiter {
    width: 100vw;
    height: 5vh;
}

.note-editor {
    background-color: white;
    position: absolute;
    left: 100vw;
    height: 80vh;

    transition: 0.5s ease-in-out 0s;

    width: 100vw;
}

.note-editor-card {
    margin: 0px 5vw;
}

.note-badge-line {
    margin-bottom: 20px;
}

.badge-radio {
    margin: 0 40px;
}

.days-button {
    width: 7vw;
    margin: 0 1vw;
    box-sizing: border-box;
    width: 8%;
    margin: 0 1%;
}

.days-button,
.flex-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 50vh;
}

.flex-wrapper {
    width: 80vw;
    scroll-behavior: smooth;
    width: 80%;
    overflow: hidden;
    height: 80%;
}

.flex-container {
    display: flex;
    width: 150vw;
}

.flex-card {
    flex-direction: row;
    width: 350px;
    margin: 0 20px;
}

#emptySpace {
    height: 5vh;
}

/* slider */

.days-button img {
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    margin-top: 100px;
}

.prev-btn {
    margin-left: 90px;
}

.prev-btn:hover {
    margin-left: 80px;
}

.next-btn {
    margin-right: 90px;
}

.days-button img:hover {
    margin-top: 95px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
